.App {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 10vh 10vh 20vh 50vh;
  grid-template-areas: "title" "subTitle" "options" "content";
}
/* .App > * {
  border: 1px solid;
} */

.title {
  grid-area: title;
  margin-left: 10px;
}

.subTitle {
  grid-area: subTitle;
  margin-left: 10px;
}
