.btn {
  min-width: 100px;
  min-height: 40px;
  border-radius: 15px;
  border-style: none;
  border: 2px solid;
  backdrop-filter: blur(1px 1px 1px);
}

.btn:hover {
  cursor: pointer;
  background-color: bisque;
}
